.priority-icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    margin-right: 5px;
}

.priority-icon.low {
    background-color: rgb(32, 189, 53);
}

.priority-icon.medium {
    background-color: rgb(230, 126, 34);
}

.priority-icon.high {
    background-color: rgb(192, 57, 43);
}

.dark-theme {
    background-color: black;
    color: white;
}

.light-theme {
    background-color: white;
    color: black;
}

.task-manager {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-manager .task-column {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.task-manager .task-column h1 {
    margin-bottom: 10px;
}

.task-manager .task {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
}

.task-manager .task p {
    margin: 10px;
}

.task-manager .task .priority-icon {
    margin-right: 10px;
}

